body{
  text-align: center;
  font-family: sans-serif;
  margin: auto;
  line-height: 4rem;
  background-image: url(crowd.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
  height: 100%;

}

.content{
  margin: auto;
  background-color: #65647C;
  width: 50%;
  margin-top: 5%;
  opacity: 0.9;

}
h1{
font-size: 3rem;
padding-top: 10rem;
}
h2{
  font-size: 3rem;
}
p{
  font-style: italic;
}

.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  margin: 0 4%;
}

.btn:hover {
  background: #fcdc3c;
  text-decoration: none;
}
